@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');


body {
    margin: 0;
    padding: 0;
    position: relative;
    background: rgba(247, 234, 214, 0.342);
}

/* ============================= CABEÇALHO ============================= */
.cabeçalho {
    position: sticky;
    width: 70%;
    top: 0;
    margin: auto;
    background: rosybrown;
    padding: 15px;
    font-size: 18px;
    overflow: hidden;
}

.menu {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
}

.menu > li {
    float: left;
    color: white;
    margin-left: 25px;
    cursor: pointer;
    text-shadow: 2px 2px 15px black;
}

.logo {
    float: left;
    text-shadow: 2px 2px 15px white;
}
/* ==================== Anti CORPO ==================== */
.antCorpo {
    /*border: 1px solid black;*/
    box-shadow: 2px 2px 55px rgb(107, 106, 106);
    width: 70%;
    height: 200px;
    margin: 10px auto auto auto;
    text-align: center;
    background-image: linear-gradient(white, rosybrown, white);
    overflow: hidden;
}

.antCorpo > h1 {
    color:white;
    font-family: 'Petit Formal Script';
    font-size: 50px;
    text-shadow: 2px 7px 5px black;
}

/* ==================== CORPO ==================== */
.corpoPrincipal {
    padding: 5px;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

.corpo {
    padding: 5px;
    width: 70%;
    height: 500px;
    margin: 10px auto auto auto;
    margin-bottom: 20px;
    border: 1px solid rgba(128, 128, 128, 0.11);
}

.corpoContato {
    text-align: justify;
    width: 50%;
}

.panel {
    background-image: linear-gradient( rgb(204, 204, 204), white, rgb(223, 221, 221)) ;
    overflow: hidden;
    width: 295px;
    height: 250px;
    border: 1px solid rgb(192, 191, 191);
    box-shadow: 2px 2px 10px rosybrown;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 2px;
}

/* ==================== Before RODAPÉ ==================== */
.beforeRodape {
    border-bottom : 0.1em solid rosybrown;
}
/* ==================== RODAPÉ ==================== */
.rodape {
    background-color:rgba(188, 143, 143, 0.151);
    text-align: justify;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

#inst {
    list-style-image: 
    url("./images/Insta.png");
    list-style-position: inside;
}

#inst > a {
    font-family: cursive, monospace;
}

/* ==================== OUTROS ==================== */
a {
    text-decoration: none;
}

/* ==================== MEDIA QUERIES ==================== */
@media screen and (max-width: 800px) {
    body {
        background-color: white;
    }
    .cabeçalho {
        position: relative;
        width: 94%;
        text-align: center;
        font-size: 28px;
        background-image: linear-gradient(rosybrown, rgb(226, 223, 223), rosybrown);
    }
    
    .menu {
        float: none;
    }
    
    .menu > li {
        float: none;
        border: 1px solid rgba(99, 97, 97, 0.082);
        box-shadow: 15px 5px 20px black;
        margin: 10px;
    }
    .logo {
        box-shadow: 15px 5px 20px black;
        float: none;
        text-shadow: 2px 2px 15px white;
        font-size: 28px;
        margin-bottom: 25px;
    }
}

/* ==================== MEDIA QUERIES Até 500px ==================== */
@media screen and (max-width: 500px) {
    body {
        background-color: white;
    }
    .cabeçalho {
        position: relative;
        width: 94%;
        text-align: center;
        font-size: 28px;
        background-image: linear-gradient(rosybrown, rgb(226, 223, 223), rosybrown);
    }
    
    .menu {
        float: none;
    }
    
    .menu > li {
        float: none;
        border: 1px solid rgba(99, 97, 97, 0.082);
        box-shadow: 15px 5px 20px black;
        margin: 10px;
    }
    .logo {
        box-shadow: 15px 5px 20px black;
        float: none;
        text-shadow: 2px 2px 15px white;
        font-size: 28px;
        margin-bottom: 25px;
    }
}

